<html>
<head>
<style type="text/css">
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
table {
  border-collapse: collapse;
  border-color: gray;  
  border: 1px solid #C1C7D0;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
td, th {
  border: 1px solid #C1C7D0;
  vertical-align: top;
  padding: 4px;
}
th {
  background-color: #F4F5F7;
  text-align: left;
}
</style>
</head>
<%
function showIndicator(ind) {
  if (ind === null) { %>#<% } else {
    if ("codes" in ind) {
      codes = Object.keys(ind.codes).join("|")
      %><%=codes%><%
    }
  }
}
function listCodes(codes) {
  if (typeof codes === "string") {
    %>codes from <a href="#codelist-<%= codes %>"><%= codes %></a><%
  } else {
    for (let c in codes) {
      const { label } = typeof codes[c] === "object" ? codes[c] : { label: codes[c] }
      %><code><%= c == " " ? "#" : c %></code><%= label ? ` = ${label}` : "" %><br><%
    }
  }
}
%>
<body>
  <% if (locals.title) { %><h1><%= title %><% } %></h1>
  <% if (locals.url) { %>
    <p><a href="<%= url %>"><%= url %></a></p>
  <% } %>
  <% if (locals.description) { %>
    <p><%= description %></p>
  <% } %>
  <p>
    This table has been generated from an
    <a href="https://format.gbv.de/schema/avram/specification">Avram Schema</a>.
    <% if (locals.schemaFile) { %>
      <a href="<%= schemaFile %>">download</a>
    <% } %>
  </p>
  <% if (locals.codelists) { %>
    codelists:
    <ul>
      <% for (let id in codelists) { %>
        <li>
          <a href="#codelist-<%= id %>"><%= codelists[id].title || id %></a>
        </li>
      <% } %>
    </ul>
  <% } %>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
        <% if (locals.family == "marc") { %><th>Ind</th><% } %>
        <th>SF</th>
        <th></th>
        <th>Title</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
      <% for (let id of Object.keys(fields).sort()) { field = fields[id] %>
        <tr>
          <td><b>
            <% if (field.url) { %><a href="<%= field.url %>"><%= id %></a>
            <% } else { %><%= id %><% } %>
          </b></td>
          <td><%= field.repeatable ? "R" : "NR" %></td>
          <% if (locals.family == "marc") { %>
            <td>
              <% if ("indicator1" in field) { %>
               <div>1&nbsp;<code><% showIndicator(field.indicator1) %></code></div>
              <% } %>
              <% if ("indicator2" in field) { %>
               <div>2&nbsp;<code><% showIndicator(field.indicator2) %></code></div>
              <% } %>
            </td>
          <% } %>
          <td></td>
          <td></td>
          <td><b><%= field.label %></b></td>
          <td><%= field.required ? "required" : "" %></td>
        </tr>
        <% for (let code of Object.keys(field.subfields||{}).sort()) {
           sf = field.subfields[code] %>
          <tr>
            <td></td>
            <td></td>
            <% if (locals.family == "marc") { %><td></td><% } %>
            <td><b>$<% if (sf.url) { %><a href="<%= sf.url %>"><%= code %></a><% } else { %><%= code %><% } %></b></td>
            <td><%= sf.repeatable ? "R" : "NR" %></td>
            <td><%= sf.label %></td>
            <td>
              <% if (sf.required) { %>required<br><% } %>
              <% if (sf.pattern) { %>pattern: <code><%= sf.pattern %></code><br><% } %>
              <% if (sf.codes) { listCodes(sf.codes) } %>
              <% if (sf.positions) { %>
               positions:
               <% for (let p in sf.positions) { pos = sf.positions[p] %>
                <div>
                  <code><%= p %></code>
                  <% if (pos.label) { %><%= pos.label %><% } %>
                </div>
               <% } %>
              <% } %>
            </td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>

  <% if (locals.codelists) { %>
    <h2>Codelists</h2>
    <p>The schema contains the following codelists.</p>
    <% for (let id in codelists) { 
       const { title, description, url, codes } = codelists[id] %>
      <h3 id="<%= "codelist-"+id %>"><%= title || id %></h3>
      <% if (url) { %><p><a href="<%= url %>"><%= url %></a></p><% } %>
      <% if (description) { %><p><%= description %></p><% } %>
      <%= listCodes(codes) %>
    <% } %>
  <% } %>
</body>
</html>
