<html>
<head>
<style type="text/css">
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
table {
  border-collapse: collapse;
  border-color: gray;  
  border: 1px solid #C1C7D0;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
td, th {
  border: 1px solid #C1C7D0;
  vertical-align: top;
  padding: 4px;
}
th {
  background-color: #F4F5F7;
  text-align: left;
}
.help {
  font-weight: default;
  font-size: 80%;
  vertical-align: super;
}
</style>
</head>
<%

function help(id) {
  %><a href="https://format.gbv.de/schema/avram/specification#<%=id%>" class="help">?</a><%
}

function showIndicator(ind) {
  if (ind === null) { %>#<% } else {
    if ("codes" in ind) {
      codes = Object.keys(ind.codes).join("|")
      %><%=codes%><%
    }
  }
}
function listCodes(codes) {
  if (typeof codes === "string") {
    %>codes from <a href="#codelist-<%= codes %>"><%= codes %></a><%
  } else {
    for (let c in codes) {
      const { label } = typeof codes[c] === "object" ? codes[c] : { label: codes[c] }
      %><code><%= c == " " ? "#" : c %></code><%= label ? ` = ${label}` : "" %><br><%
    }
  }
}
function cardinality({required, repeatable}) {
  return required 
    ? (repeatable ? "1..*" : "1")
    : (repeatable ? "0..*" : "0..1")
}
function contents({pattern, codes, positions}) {
  if (pattern) { %>pattern: <code><%= pattern %></code><br><% } %>
  <% if (codes) { listCodes(codes) } %>
  <% if (positions) { %>
   positions:
   <% for (let p in positions) { pos = positions[p] %>
    <div>
      <code><%= p %></code>
      <% if (pos.label) { %><%= pos.label %><% } %>
    </div>
   <% } %>
  <% }
}
%>
<body>
  <% if (locals.title) { %><h1><%= title %><% } %></h1>
  <% if (locals.description) { %><p><%= description %></p><% } %>
  <% if (locals.family) { %><p>This schema defines a format of <b><%= family %></b> family.</p><% } %>
  <% if (locals.url) { %><p><a href="<%= url %>"><%= url %></a></p><% } %>
  <p>
    This document has been generated from an
    <a href="https://format.gbv.de/schema/avram/specification">Avram Schema</a>.
    <% if (locals.schemaFile) { %>
      <a href="<%= schemaFile %>">download</a>
    <% } %>
  </p>
  <ul>
    <li><a href="#fields">Fields</a></li>
    <% if (locals.codelists) { %>
      <li><a href="#codelists">Codelists</a><ul>
        <% for (let id in codelists) { %>
          <li>
            <a href="#codelist-<%= id %>"><%= codelists[id].title || id %></a>
          </li>
        <% } %>
      </ul></li>
    <% } %>
    <% if (locals.rules) { %>
      <li><a href="#rules">External validation rules</a></li>
    <% } %>
  </ul>
  <% const with_subfields = Object.values(fields).find(f => f.subfields) %>
  <h2 id="fields">Fields</h2>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
        <% if (locals.family == "marc") { %><th>Ind</th><% } %>
        <% if (with_subfields) { %><th>SF</th><th></th><% } %>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for (let id of Object.keys(fields).sort()) { field = fields[id] %>
        <tr>
          <td><b>
            <% if (field.url) { %><a href="<%= field.url %>"><%= id %></a>
            <% } else { %><%= id %><% } %>
          </b></td>
          <td><tt><%= cardinality(field) %></tt></td>
          <% if (locals.family == "marc") { %>
            <td>
              <% if ("indicator1" in field) { %>
               <div>1&nbsp;<code><% showIndicator(field.indicator1) %></code></div>
              <% } %>
              <% if ("indicator2" in field) { %>
               <div>2&nbsp;<code><% showIndicator(field.indicator2) %></code></div>
              <% } %>
            </td>
          <% } %>
          <% if (with_subfields) { %><td></td><td></td><% } %>
          <td>
            <b><%= field.label %></b>
            <% if (field.description) { %><br><%= field.description %><% } %>
          </td>
          <td><%= contents(field) %></td>
        </tr>
        <% for (let code of Object.keys(field.subfields||{}).sort()) {
           sf = field.subfields[code] %>
          <tr>
            <td></td>
            <td></td>
            <% if (locals.family == "marc") { %><td></td><% } %>
            <td><b>$<% if (sf.url) { %><a href="<%= sf.url %>"><%= code %></a><% } else { %><%= code %><% } %></b></td>
            <td><tt><%= cardinality(sf) %></tt></td>
            <td>
              <%= sf.label %>
              <% if (sf.description) { %><br><%= sf.description %><% } %>
            </td>
            <td><%= contents(sf) %></td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>

<% if (locals.codelists) { %>
  <h2>Codelists <%=help("codelist")%></h2>
  <p>This schema contains <%= Object.keys(codelists).length %> codelists.</p>
  <% for (let id in codelists) { 
     const { title, description, url, codes } = codelists[id] %>
    <h3 id="<%= "codelist-"+id %>"><%= title || id %></h3>
    <% if (description) { %><p><%= description %></p><% } %>
    <% if (url) { %><p><a href="<%= url %>"><%= url %></a></p><% } %>
    <!-- TODO: created, modified -->
    <%= listCodes(codes) %>
  <% } %>
<% } %>

<% if (locals.rules) { %>
  <h2 id="#rules">External validation rules <%=help("external-validation-rules")%></h2>
  <p>
    This schema contains <%= rules.length %> external validation rules.
    These rules go beyond standard Avram validation rules <%=help("validation-rules")%> 
    and require custom extension to be checked.</a>
  </p>
<% } %>

</body>
</html>
