<html>
<head>
<style type="text/css">
table {
  border-collapse: collapse;
  border-color: gray;  
  border: 1px solid #C1C7D0;
}
td, th {
  border: 1px solid #C1C7D0;
  vertical-align: top;
  padding: 4px;
}
th {
  background-color: #F4F5F7;
  text-align: left;
}
</style>
</head>
<%
function showIndicator(ind) {
  if (ind === null) { %>#<% } else {
    if ("codes" in ind) {
      codes = Object.keys(ind.codes).join("|")
      %><%=codes%><%
    }
  }
}
function listCodes(codes) {
  for (let c in codes) {
    const { label } = codes[c]
    %><%= (c == " " ? "#" : c) + (label ? ` = ${label}` : "") %><br><%
  }
}
%>
<body>
  <% if (locals.title) { %><h1><%= title %><% } %></h1>
  <% if (locals.url) { %>
    <p><a href="<%= url %>"><%= url %></a></p>
  <% } %>
  <% if (locals.description) { %>
    <p><%= description %></p>
  <% } %>
  <p>
    This table has been generated from an
    <a href="https://format.gbv.de/schema/avram/specification">Avram Schema</a>.
    <% if (locals.schemaFile) { %>
      <a href="<%= schemaFile %>">download</a>
    <% } %>
  </p>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th>R?</th>
        <% if (locals.family == "marc") { %><th>Ind</th><% } %>
        <th>SF</th>
        <th>R?</th>
        <th>Title</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
      <% for (let id of Object.keys(fields).sort()) { field = fields[id] %>
        <tr>
          <td><b>
            <% if (field.url) { %><a href="<%= field.url %>"><%= id %></a>
            <% } else { %><%= id %><% } %>
          </b></td>
          <td><%= field.repeatable ? "R" : "NR" %></td>
          <% if (locals.family == "marc") { %>
            <td>
              <% if ("indicator1" in field) { %>
               1=<% showIndicator(field.indicator1) %><br>
              <% } %>
              <% if ("indicator2" in field) { %>
               2=<% showIndicator(field.indicator2) %><br>
              <% } %>
            </td>
          <% } %>
          <td></td>
          <td></td>
          <td><b><%= field.label %></b></td>
          <td><%= field.required ? "required" : "" %></td>
        </tr>
        <% for (let code of Object.keys(field.subfields||{}).sort()) {
           sf = field.subfields[code] %>
          <tr>
            <td></td>
            <td></td>
            <% if (locals.family == "marc") { %><td></td><% } %>
            <td>$<% if (sf.url) { %><a href="<%= sf.url %>"><%= code %></a><% } else { %><%= code %><% } %></td>
            <td><%= sf.repeatable ? "R" : "NR" %></td>
            <td><%= sf.label %></td>
            <td>
              <% if (sf.required) { %>required<br><% } %>
              <% if (sf.pattern) { %>pattern: <code><%= sf.pattern %></code><br><% } %>
              <% if (sf.codes) { listCodes(sf.codes) } %>
            </td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
</body>
</html>
